[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "~=4.10.0"

[dev-packages]
pytest = "~=6.2.5"
pyment = "~=0.3.3"

[requires]
python_version = "3.9"
